InputNoneIMG { 
    margin: 3%;
}
#ForgotPWComponent{
    background-color: #fff;
}
.mainbutton{
    margin: 5% 0;
}
#ForgetPW{
    margin-top: 10%;
}
#ForgotPWComponent{
    margin-top: 8%;
}
#logo{
    width: 280px;
    height: 97px;
    margin-bottom: 15px;
}