.link--password {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.background__input {
    margin: 5% 0;
}

.background-container {
    margin: 10% auto;
}

#logo {
    width: 280px;
    height: 97px;
}