.add_post{
    background-color: #164DB1;
    padding: 15px;
    padding: 0px;
    margin: 0px;
    margin-top: 9.5vh;
    box-sizing: border-box;
}
.add_post .title{
    color: #ffffff;
    font-size: 24px;
    margin-left: 27px;
    margin-top: 15px;
}

.add_post .input_title{
    height: 54px;
    width: 95%;
    margin-left: 2%;
    margin-top: 15px;
    background: #4770BB;
    border-color: transparent;
    border-radius: 5px;
}

.add_post .input_des {
    height: 350px;
    width: 95%;
    margin-left: 2%;
    margin-top: 15px;
    background: #4770BB;
    border-color: transparent;
    border-radius: 5px;
}

.add_post .add_post_img{
    margin-top: 15px;
    margin-left: 30px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}


.add_post label{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 10rem;
    height: 10rem;
    cursor: pointer;
    font-size: large;
}

.add_post span{
    font-weight: lighter;
    font-size: small;
    padding-top: 0.5rem;
}

.add_post .input_add_img{
    display: none;
}

.add_post .add_post_btn{
    background-color: #F88C0D;
    color: #ffffff;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 130px;
    border-radius: 5px;
    position: absolute;
    bottom: 8px;
    right: 43px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}