.mainbackground{
    border: 2px solid #000;
    border-radius: 20px;
    margin-top: 15vh;
    width: 650px;
    height: auto;
    background-color: #fff;
    padding: 15px 15px;
    border: 3px solid #000000;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}