.Header{
    height: 8.5vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top:0;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Header .Header_Logo{
    padding-left: 5vw;
    height: 100%;
    width: 50%;
}
.Header .Header_Profile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #000;
    padding-right: 5vw;
    max-width: 250px;
    max-height: 67px;
}
.Header_icProfile{
    height: 5vh;
}
.Header .Header_Profile .Header_icProfile{
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-left: 10px;
}